server {
    server_name example.com;

    listen 127.0.0.1:8080;

    root ./www/html;
    index index.html;
    client_max_body_size 5M;

    error_page 404 /errors/404.html;
    error_page 500 /errors/500.html;

    location / {
        allow_methods GET POST DELETE;
        autoindex off;
    }

    location /files {
        root ./www/html/files;
        autoindex on;
        index index.html;
        allow_methods GET;
    }

    location /old {
        return 301 /files;
    }

    location /kapouet {
        root ./www/html/kapouet;
        index index.html;
    }

    location /upload {
        allow_methods POST;
        upload on;
        upload_store ./www/uploads;
    }

    location /cgi-bin {
        allow_methods GET POST;

        root ./www/cgi-bin;
        index index.py;

        cgi on;
        cgi_exec .py /usr/bin/python3;
        cgi_exec .sh /bin/bash;
    }
}

server {
    server_name example1.com;

    listen 0.0.0.0:8081;

    root ./www/html;
    index index.html;
    client_max_body_size 2K;

    error_page 400 /errors/400.html;
    error_page 501 /errors/501.html;

    location / {
        allow_methods GET;
        autoindex off;
    }

    location /files {
        root ./www/html/files;
        autoindex on;
        index index.html;
        allow_methods GET;
    }

    location /old {
        return 301 /files;
    }

    location /kapouet {
        root ./www/html/kapouet;
        index index.html;
    }

    location /upload {
        allow_methods POST;
        upload on;
        upload_store ./www/uploads;
    }

    location /cgi-bin {
        allow_methods GET POST;

        root ./www/cgi-bin;
        index index.py;

        cgi on;
        cgi_exec .py /usr/bin/python3;
        cgi_exec .sh /bin/bash;
    }
}
